<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.tanghuibo.onepiecestudyweb.mapper.FigureInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.tanghuibo.onepiecestudyweb.entity.FigureInfo">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_skill" property="userSkill" />
        <result column="devil_nuts" property="devilNuts" />
        <result column="user_fight" property="userFight" />
        <result column="comment_info" property="commentInfo" />
        <result column="attribute" property="attribute" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, user_skill, devil_nuts, user_fight, comment_info, attribute, create_time, update_time
    </sql>

</mapper>
