<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.tanghuibo.onepiecestudyweb.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.tanghuibo.onepiecestudyweb.entity.UserInfo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="note_info" property="noteInfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, note_info
    </sql>

</mapper>
